body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-input-placeholder {
    font-size: 16px;
    opacity: 0.7;
    color: rgb(2, 70, 255);
}

section {
    width: 100vw;
}

.sec1 {
    height: 100vh;
}

nav {
    background-color: transparent;
    z-index: 3;
    padding-top: 120px;
    padding-left: 80px;
    padding-right: 80px;
    color: white;
}

.btn-signs {
    position: absolute;
    right: 70px;
    top: 30px
}

.btn-sign {
    position: relative;
    border-radius: 65px;
    font-weight: bold;
    margin-right: 20px;
    background-color: rgb(49, 243, 0);
    color: white;
    border: none;
    padding: 2px 15px;
    outline: none;
    font-size: 22px;
    box-shadow: 5px 5px 15px rgba(51, 51, 51, 0.431);
}

.navbar-light .navbar-brand {
    color: white;
    font-size: 22px;
    width: max-content;
    background-color: #fff;
    border-radius: 60px;
    padding: 3px 12px;
    color: rgb(0, 17, 255);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.wrap-sec1 {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.sec1-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    text-align: center;
    height: 100%;
    background-color: rgb(1, 143, 238);
}

.circle {
    position: absolute;
    z-index: 2;
    background-image: url('./images/cr.png');
    background-position: center;
    background-size: contain;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    width: 150vw;
    height: 150vh;
    opacity: 0.5;
    left: 140px;
    display: flex;
}

.wrap-sec1::after {
    position: absolute;
    content: '';
    width: 100vw;
    height: 100%;
}

.sec1 h1 {
    position: relative;
    z-index: 2;
    color: rgb(255, 255, 255);
    padding: 0 20px;
    border-radius: 50px;
    font-size: 80px;
    font-weight: bold;
}

.sec1 p {
    position: relative;
    z-index: 2;
    font-size: 20px;
    color: white;
}

.btn-premium {
    position: relative;
    margin-top: 30px;
    background-color: rgb(1, 91, 235);
    border-radius: 40px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    font-size: 20px;
    width: max-content;
    cursor: pointer;
    box-shadow: 3px 3px 415px rgb(211, 225, 255);
    height: max-content;
    transform: scale(1);
    transition: 0.4s;
    border: none;
    outline: none;
    z-index: 4;
}

.btn-premium:hover {
    transform: scale(0.98);
    transition: 0.4s;
}

.sec1-img1 {
    width: 40vw;
    height: 100%;
}

/* section2 */

.sec2 {
    position: relative;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    background-color: rgb(208, 230, 255);
}

.sec2-dek1 {
    position: absolute;
    top: 30px;
    left: 40px;
    background-image: url('./images/Group 4.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(20deg);
    width: 180px;
    height: 180px;
}

.sec2-dek2   {
    position: absolute;
    top: 50px;
    right: 40px;
    background-image: url('./images/Group 5 (1).png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(20deg);
    width: 80px;
    height: 80px;
}

.sec2 h1 {
    color: rgb(5, 5, 119);
    font-size: 53px;
    font-weight: bold;
}

.sec2 p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.8em;
}

.wrap {
    display: flex;
    padding: 0 30px;
    width: 97%;
    justify-content: center;
    align-items: center;
}

.wrap-sec2-a {
    margin-top: 40px;
    width: 40vw;
    padding: 30px;
}

.wrap-sec2-b {
    margin-top: 40px;
    width: 60vw;
    padding: 40px 40px 40px 50px;
}

.sec2-child {
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.childs {
    margin: 0 0px;
}

.col-images1 {
    background-image: url('./images/Melly_Goeslaw_in_2018.jpg');
    background-position: center;
    background-size: cover;
    height: 420px;
    width: 100%;
    transform: perspective(1000px) rotateY(10deg);
    padding-top: 100px;
    filter: saturate(100%) brightness(80%) contrast(80%);
    border-radius: 10px;
    background-repeat: no-repeat;
    box-shadow: -25px -14px 15px rgba(54, 54, 54, 0.582);
}

.col-images2 {
    background-image: url('./images/wp2938555-wallpaper-iwan-fals.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-top: 60px;
    height: 420px;
    width: 100%;
    transform: perspective(1000px) rotateY(-10deg);
    background-repeat: no-repeat;
    box-shadow: 30px -13px 15px rgba(54, 54, 54, 0.404);
}

.col-images3 {
    background-image: url('./images/download.jpg');
    background-position: center;
    background-size: contain;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 0px;
    height: 420px;
    width: 100%;
    transform: perspective(1000px) rotateY(-10deg);
    background-repeat: no-repeat;
    box-shadow: 30px -13px 15px rgba(54, 54, 54, 0.404);
}

.col-images4 {
    background-image: url('./images/download (2).jpg');
    background-position: center;
    background-size: contain;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 60px;
    height: 420px;
    width: 100%;
    transform: perspective(1000px) rotateY(-10deg);
    background-repeat: repeat;
    box-shadow: 30px -13px 15px rgba(54, 54, 54, 0.404);
}

/* section 3 */

.sec3 {
    position: relative;
    overflow: hidden;
    direction: rtl;
    height: max-content;
    display: flex;
    padding-bottom: 50px;
    background-color: rgb(208, 230, 255);
}

.sec3-dek1 {
    position: absolute;
    top: 10px;
    left: 190px;
    background-image: url('./images/Group 5 (2).png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(20deg);
    width: 80px;
    height: 80px;
}

.sec3-dek2   {
    position: absolute;
    top: 90px;
    right: 290px;
    background-image: url('./images/Group 3 (2).png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(20deg);
    width: 140px;
    height: 140px;
}

.sec3-dek3   {
    position: absolute;
    bottom: 150px;
    right: 140px;
    background-image: url('./images/x.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(20deg);
    width: 100px;
    height: 100px;
}

.sec3-images {
    position: relative;
    left: 0px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    box-shadow: 0px;
    height: max-content;
    animation: card-lagu 5s ease-in infinite;
    overflow-y: auto;
    transform: scale(0.87);
    background-color: rgb(45, 125, 253);
    border-radius: 20px;
    box-shadow: 25px 27px 25px rgba(0, 38, 99, 0.37);
    transition: 1s;
}

.menu-resto {
    height: 200px;
    width: 100%;
    padding: 30px 20px 20px 20px;
}

.content-resto {
    display: flex;
    direction: rtl;
    width: 100%;
    height: 100%;
}

.content-resto h2, .content-resto h3 {
    font-weight: bold;
}

.content-resto small {
    font-weight: 500;
    width: 70%;
    font-size: 17px;
}

.text-resto {
    width: 100%;
    padding-left: 35px;
    height: 100%;
}

.content-img-resto {
    width: 300px;
    border-radius: 10px;
    height: 100%;
    background-color: rgb(231, 237, 255);
    box-shadow: 3px 3px 15px rgba(53, 53, 53, 0.479);
}

.content-img4 {
    background-image: url('./images/download (1).jpg');
    background-position: center;
    background-size: cover;
}

.content-img5 {
    background-image: url('./images/download (2).jpg');
    background-position: center;
    background-size: cover;
}

.content-img6 {
    background-image: url('./images/Melly_Goeslaw_in_2018.jpg');
    background-position: center;
    background-size: cover;
}

.wrap-menu-resto {
    width: 100%;
    transition: 0.4s;
    height: max-content;
    overflow-y: auto;
}

.wrap-menu-down {
    transition: 0.4s;
    margin-top: -100%;
}

.down-hidden {
    transition: 0.4s;
    opacity: 0;
}

.down {
    position: absolute;
    right: 50px;
    background-color: rgb(67, 238, 0);
    color: white;
    border-radius: 200px;
    font-weight: bold;
    width: max-content;
    padding: 0 10px;
    box-shadow: 3px 3px 15px rgba(44, 44, 44, 0.37);
    top: 50px;
    height: max-content;
    z-index: 3;
    margin-top: 0;
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s;
    animation: downs 2.5s ease-in infinite;
}

@keyframes downs {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: -10px;
    }
    100% {
        margin-top: 0;
    }
}


.up-show {
    transition: 0.3s;
    opacity: 1;
}

@keyframes ups {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: -10px;
    }
    100% {
        margin-top: 0;
    }
}

.green {
    color:rgb(255, 255, 255);
}

.down:hover {
    transition: 0.3s;
    margin-top: -10px;
    transform: scale(1.10);
}

.menu-resto .menu-images {
    background-image: url('./images/florencia-viadana-0y92si4ZLyA-unsplash.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

.num3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: max-content;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 0 0px 5px 0;
    font-weight: bold;
    text-align: center;
    color: white;
    z-index: 6;
    background-color: rgb(0, 255, 21);;
}

.sec3-content {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 100px 50px;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-color: rgb(208, 230, 255);
}

.sec3-content .content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 4;
}

.detail-content {
    position: absolute;
    width: 60vw;
    height: 75%;
    margin-top: 90px;
    z-index: 3;
    border-radius: 7px;
    background-color: rgba(255, 255, 255);
    box-shadow: 3px 3px 20px rgba(39, 39, 39, 0.247);
}

.content-left {
    position: relative;
    width: 50vw;
    padding: 120px 40px 30px 30px;
    height: 100%;
    color: white;
    border-radius: 10px;
}

.content-left h1 {
    color: rgb(5, 5, 119);
    font-size: 53px;
    font-weight: bold;
}

.content-left p {
    color: rgb(15, 15, 15);
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.8em;
}

/* section 4 */

.sec4 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(208, 230, 255);
}

.wrap-sec4 {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec4-left {
    border-radius: 10px 0 0 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(59, 128, 255);
}

.sec4-left div {
    width: 100%;
    padding: 75px 0;
    height: max-content;
}

.sec4-left h1 {
    background-color: rgb(208, 230, 255);
    border-radius: 0 50px 50px 0;
    padding: 10px 70px 10px 50px;
    color: rgb(5, 5, 119);
    font-size: 53px;
    width: max-content;
    font-weight: bold;
}

.sec4-left ul {
    margin-top: -70px;
    margin-left: -50px;
}

.sec4-left ul li {
    font-size: 20px;
    font-weight: 500;
    list-style: none;
    margin: 33px 0;
    color: white;
}

.title-konser {
    font-size: 30px;
    background-color: rgb(208, 230, 255);
    border-radius: 0 50px 50px 0;
    padding: 10px 50px 10px 40px;
    margin-right: 20px;
    color: rgb(5, 5, 119);
}

.value {
    font-size: 30px;
    margin-left: 15px;
    color: rgb(255, 255, 255);
}

.sec4-right {
    border-radius: 0 10px 10px 0;
    width: 40%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    filter: brightness(50%);
    background-image: url('./images/thought-catalog-_Xv89TMIazc-unsplash.jpg');
}

/* section 5 */

.sec5 {
    position: relative;
    height: 250px;
    padding-top: 10px;
    background-color: rgb(6, 122, 255);
}

.sec5-dek1 {
    position: absolute;
    top: 60px;
    left: 190px;
    background-image: url('./images/pls2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(0deg);
    width: 40px;
    height: 40px;
}

.wrap-sec5 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px 0;
    height: 100%
}

.sec5 input {
    width: 300px;
    border-radius: 25px 0 0 25px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: rgb(39, 39, 39);
    font-weight: 500;
    margin-right: 0;
    padding: 8px;
    font-size: 20px;
}

.la-telegram {
    width: 50px;
    height: 46px;
    border-radius: 0 25px 25px 0;
    border: none;
    outline: none;
    margin-left: -6px;
    background-color: rgb(27, 226, 1);
    color: rgb(255, 255, 255);
    font-weight: 500;
    cursor: pointer;
    margin-right: 0;
    padding: 8px;
    font-size: 25px;
    transition: 0.3s;
}

.la-telegram:hover {
    filter: brightness(90%);
    transition: 0.3s;
}

.sec5 h1 {
    color: rgb(5, 5, 119);
    font-size: 53px;
    font-weight: bold;
}

.sec5 p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.8em;
}

/* section 6 */

.sec6 {
    position: relative;
    width: 100vw;
    height: max-content;
    padding-bottom: 110px;
    text-align: center;
    background-color: rgb(208, 230, 255);
}

.sec6-dek {
    position: absolute;
    top: 70px;
    left: 180px;
    background-image: url('./images/Group 3 (2).png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    transform: rotate(20deg);
}

.wrap-sec6 {
    padding: 150px 20px 0 20px;
    width: 100%;
    height: 100%;
}

.wrap-child6 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sec6 h1 {
    color: rgb(5, 5, 119);
    font-size: 53px;
    font-weight: bold;
}

.sec6 p {
    font-weight: 500;
    font-size: 18px;
    margin-top: 30px;
    line-height: 1.8em;
}

.child-list6 {
    position: relative;
    border-radius: 50px;
    font-weight: 500;
    width: max-content;
    height: max-content;
    background-color: chartreuse;
    color: white;
    font-size: 20px;
    overflow: hidden;
    margin: 45px 15px 15px 15px;
    padding: 4px 10px;
    cursor: pointer;
}

.child-list6:nth-child(1):hover::before {
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 4px;
    content: '1';
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(59, 128, 255);
}

.child-list6:nth-child(2):hover::before {
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 4px;
    content: '2';
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(59, 128, 255);
}

.child-list6:nth-child(3):hover::before {
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 4px;
    content: '3';
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(59, 128, 255);
}

.child-list6:nth-child(4):hover::before {
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 4px;
    content: '4';
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(59, 128, 255);
}

.child-list6:nth-child(5):hover::before {
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 4px;
    content: '5';
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(59, 128, 255);
}

.child-list6:nth-child(6):hover::before {
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 4px;
    content: '6';
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(59, 128, 255);
}

.child-list6:nth-child(7):hover::before {
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 4px;
    content: '7';
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(59, 128, 255);
}

.child-list6:nth-child(8):hover::before {
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 4px;
    content: '8';
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(59, 128, 255);
}

.child-list6:nth-child(9):hover::before {
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 4px;
    content: '9';
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(59, 128, 255);
}

.child-list6:nth-child(10):hover::before {
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 4px;
    content: '10';
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(59, 128, 255);
}

/* section 7 */

.sec7 {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: max-content;
    background-color: rgb(4, 108, 228);
}

.sec7 i {
    font-size: 30px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    color: white;
    transition: 0.3s;
}

.sec7 i:hover {
   cursor: pointer;
   filter: brightness(85%);
   transition: 0.3s;
}

.wrap-sec7 {
    display: flex;
    padding: 90px 170px 20px 170px;
    justify-content: space-between;
    align-items: center;
}

.list-footer {
    display: flex;
}

.btn-back {
    width: 250px;
    position: relative;
    padding: 14px;
    margin-top: 50px;
    border-radius: 4px;
    background-color: rgb(28, 214, 3);
    border: none;
    outline: none;
    z-index: 2;
    color: white;
    transition: 0.3s;
}

.btn-back:hover {
    cursor: pointer;
    filter: brightness(90%);
    transition: 0.3s;
}

.fb {
    background-color: rgb(3, 6, 204);
}

.ig {
    background-color: rgb(161, 1, 201);
}

.yt {
    background-color: rgb(223, 12, 5);
}

.wrap-sec7 img {
    width: 100px;
}

.list-footer div {
    margin-left: 100px;
    text-align: left;
}

.list-footer h2 {
    color: rgb(5, 5, 119);
    font-weight: bold;
}

.list-footer li {
    list-style: none;
    color: rgb(255, 255, 255);
    margin: 30px 0 30px 0;
    margin-left: -30px;
    transition: 0.3s;
}

.list-footer li:hover {
    cursor: pointer;
    color: rgb(7, 247, 7);
    transition: 0.3s;
}

.sec7-dek1 {
    background-image: url('./images/dts1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.9;
    z-index: 1;
}

.sec7-dek2 {
    background-image: url('./images/oren.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 50px;
    top: 30px;
    opacity: 1;
    z-index: 1;
}

.sec7-dek3 {
    background-image: url('./images/x.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 50px;
    bottom: 30px;
    opacity: 1;
    z-index: 1;
}

.copyright {
    width: 100vw;
    height: 100px;
    height: max-content;
    text-align: left;
    padding-bottom: 15px;
    padding-left: 50px;
    color: rgba(255, 255, 255, 0.685);
    font-weight: 500;
}


@media screen and (max-width: 768px) {
    
nav {
    z-index: 3;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    height: max-content;
    width: 100vw;
    background-color: white;
}

.btn-signs {
    display: none;
}

.navbar-light .navbar-brand {
    color: white;
    font-size: 22px;
    margin-top: -7px;
    margin-bottom: 4px;
    width: max-content;
    background-color: rgb(1, 143, 238);
    border-radius: 60px;
    padding: 3px 12px;
    color: rgb(255, 255, 255);
}

.navbar-toggler {
    margin-top: -10px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(37, 37, 37);
    font-weight: bold;
    margin-left: 10px;
    font-size: 22px;
}

.sec1 {
    height: max-content;
    padding-bottom: 30px;
}

.sec1 h1 {
    position: relative;
    z-index: 2;
    color: rgb(255, 255, 255);
    padding: 0 20px;
    border-radius: 50px;
    margin-top: 10px;
    font-size: 62px;
    font-weight: bold;
}

.sec1 p {
    position: relative;
    z-index: 2;
    font-size: 19px;
    width: 90%;
    color: white;
}

.btn-premium {
    position: relative;
    margin-top: 30px;
    background-color: rgb(1, 91, 235);
    border-radius: 40px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    font-size: 20px;
    width: max-content;
    cursor: pointer;
    box-shadow: 3px 3px 415px rgb(211, 225, 255);
    height: max-content;
    transform: scale(1);
    transition: 0.4s;
    border: none;
    outline: none;
    z-index: 4;
}

.wrap-sec1 {
    position: relative;
    display: flex;
    width: 100vw;
    height: 600px;
}

.sec1-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    text-align: center;
    height: 110%;
    background-color: rgb(1, 143, 238);
}

.sec2-dek1 {
    position: absolute;
    top: 20px;
    left: 40px;
    background-image: url('./images/Group 4.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(20deg);
    width: 140px;
    height: 140px;
}

.sec2-dek2 {
    position: absolute;
    top: 50px;
    right: 40px;
    background-image: url('./images/Group 5 (1).png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(20deg);
    width: 80px;
    height: 80px;
}

.sec2 h1 {
    color: rgb(5, 5, 119);
    font-size: 53px;
    font-weight: bold;
}

.sec2 p {
    font-weight: 500;
    font-size: 18px;
    margin-top: 30px;
    width: 96%;
    line-height: 1.8em;
}

.wrap {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 30px;
    width: 97%;
    justify-content: center;
    align-items: center;
}

.wrap-sec2-a {
    margin-top: 0px;
    width: 100vw;
    padding: 30px 18px;
}

.wrap-sec2-b {
    margin-top: 40px;
    width: 100vw;
    display: flex;
    padding: 40px 15px 40px 15px;
}

.sec2-child {
    height: max-content;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.col-images1, .col-images2, .col-images3, .col-images4 {
    height: 300px;
}

.sec3 {
    position: relative;
    overflow: hidden;
    direction: ltr;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    background-color: rgb(208, 230, 255);
}

.sec3-dek1 {
    position: absolute;
    top: 10px;
    left: 190px;
    background-image: url('./images/Group 5 (2).png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(20deg);
    width: 80px;
    height: 80px;
}

.sec3-dek2   {
    position: absolute;
    top: 90px;
    right: 190px;
    background-image: url('./images/Group 3 (2).png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(20deg);
    width: 140px;
    height: 140px;
}

.sec3-dek3   {
    position: absolute;
    bottom: 150px;
    right: 140px;
    background-image: url('./images/x.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(20deg);
    width: 100px;
    height: 100px;
}

.sec3-images {
    position: relative;
    left: -10px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    box-shadow: 0px;
    height: max-content;
    animation: card-lagu 5s ease-in infinite;
    overflow-y: auto;
    transform: scale(0.87);
    background-color: rgb(45, 125, 253);
    border-radius: 20px;
    box-shadow: 25px 27px 25px rgba(0, 38, 99, 0.37);
    transition: 1s;
}

.sec3-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px 10px;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-color: rgb(208, 230, 255);
}

.sec3-content .content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 4;
}

.content-left {
    position: relative;
    width: 100vw;
    padding: 120px 10px 30px 10px;
    height: 100%;
    color: white;
    border-radius: 10px;
}

.content-left h1 {
    color: rgb(5, 5, 119);
    font-size: 53px;
    font-weight: bold;
}

.content-left p {
    color: rgb(15, 15, 15);
    width: 95%;
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.8em;
}

.menu-resto {
    height: max-content;
    padding: 30px 20px 20px 20px;
}

.content-resto {
    display: flex;
    direction: ltr;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.content-resto h2, .content-resto h3 {
    font-weight: bold;
}

.content-resto small {
    font-weight: 500;
    width: 70%;
    font-size: 17px;
}

.text-resto {
    width: 100%;
    padding-left: 35px;
    height: 100%;
}

.content-img-resto {
   display: none;
}

.sec4 {
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(208, 230, 255);
}

.wrap-sec4 {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec4-left {
    border-radius: 10px 0 0 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(59, 128, 255);
}

.sec4-left div {
    width: 100%;
    padding: 75px 0;
    height: max-content;
}

.sec4-left h1 {
    background-color: rgb(208, 230, 255);
    border-radius: 0 50px 50px 0;
    padding: 10px 70px 10px 0px;
    color: rgb(5, 5, 119);
    font-size: 53px;
    width: max-content;
    font-weight: bold;
}

.sec4-left ul {
    margin-top: -70px;
    margin-left: -30px;
}

.sec4-left ul li {
    font-size: 20px;
    font-weight: 500;
    list-style: none;
    margin: 33px 0;
    color: white;
}

.title-konser {
    font-size: 19px;
    background-color: rgb(208, 230, 255);
    border-radius: 0 50px 50px 0;
    padding: 10px 50px 10px 40px;
    margin-right: 20px;
    width: 100%;
    color: rgb(5, 5, 119);
}

.st1, .orang, .selesai {
    display: none;
}

.value {
    font-size: 19px;
    margin-left: 15px;
    color: rgb(255, 255, 255);
}

.sec4-right {
   display: none;
}

.sec5 {
    position: relative;
    height: max-content;
    padding-top: 10px;
    background-color: rgb(6, 122, 255);
}

.sec5-dek1 {
    position: absolute;
    top: 60px;
    left: 190px;
    background-image: url('./images/pls2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(0deg);
    width: 40px;
    height: 40px;
}

.wrap-sec5 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 90px 20px 40px 20px;
    height: 100%
}

.sec5 input {
    width: 75vw;
    border-radius: 25px 0 0 25px;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: rgb(39, 39, 39);
    font-weight: 500;
    margin-right: 0;
    padding: 8px;
    font-size: 20px;
}

.sec5 h1 {
    color: rgb(5, 5, 119);
    font-size: 46px;
    margin-top: 40px;
    font-weight: bold;
}

.sec5 p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.8em;
}

.sec6 h1 {
    color: rgb(5, 5, 119);
    font-size: 53px;
    text-align: left;
    margin-left: -4px;
    font-weight: bold;
}

.sec6  p {
    font-weight: 500;
    text-align: left;
    font-size: 18px;
    line-height: 1.8em;
}

.sec7 {
    position: relative;
    height: max-content;
}

.sec7 i {
    font-size: 30px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    color: white;
    transition: 0.3s;
}

.sec7 i:hover {
    cursor: pointer;
    filter: brightness(85%);
    transition: 0.3s;
}

.wrap-sec7 {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    padding: 170px 0px 50px 0 ;
    justify-content: space-between;
    align-items: center;
}

.list-sosmed {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.list-footer {
    width: 100vw;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.btn-back {
    position: relative;
    width: 210px;
    padding: 14px;
    margin-left: 20px;
    margin-top: 50px;
    border-radius: 4px;
    background-color: rgb(28, 214, 3);
    border: none;
    outline: none;
    z-index: 2;
    color: white;
}

.fb {
    background-color: rgb(3, 6, 204);
}

.ig {
    background-color: rgb(161, 1, 201);
}

.yt {
    background-color: rgb(223, 12, 5);
}

.wrap-sec7 img {
    width: 100px;
}

.list-footer div {
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 30px;
    text-align: left;
}

.sec7-dek1 {
  display: none;
}

.sec7-dek3 {
    background-image: url('./images/x.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 50px;
    bottom: 130px;
    opacity: 0.7;
    z-index: 1;
}

.copyright {
    width: 95vw;
    height: 100px;
    height: max-content;
    text-align: left;
    padding-bottom: 15px;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.685);
    font-weight: 500;
}

}